@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}

.contentWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.rightSection {
  gap: 10px;
}

.leftSection,
.rightSection {
  display: flex;
  align-items: center;
}

.logoSection {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.verticalLine {
  height: 50px;
  width: 2px;
  background-color: #ddd;
  margin: 0 20px;
}

.dark .verticalLine {
  background-color: #555;
}

.menuToggle span {
  font-size: 24px;
  display: block;
}

.navLinks {
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.dark .navLinks {
  color: #fff;
}

.navLink {
  color: #111111;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
}

.dark .navLink {
  color: #fff;
}

.navLink:hover {
  background-color: #e9ecef;
}

.dark .navLink:hover {
  background-color: #444444;
}

.signUpBtn {
  background-color: #566474;
  color: #fff;
  transition: background-color 0.3s;
}

.signUpBtn:hover {
  background-color: #0056b3;
}

.dark .signUpBtn {
  background-color: #0056b3;
}

.dark .signUpBtn:hover {
  background-color: #004085;
}
.menuToggle {
  display: none; /* Initially hidden */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

@media (max-width: 768px) {
  .menuToggle {
    display: block; /* Show menu toggle on mobile */
  }

  .navLinks {
    display: none; /* Initially hide links on mobile */
  }

  .showMenu {
    display: flex; /* Show links when menu is toggled */
    flex-direction: column;
  }
}

/* Make sure the vertical line is visible */
.verticalLine {
  height: 50px;
  width: 2px;
  background-color: #ddd;
  margin: 0 20px;
}

.dark .verticalLine {
  background-color: #555;
}

/* Styles pour le contenu du dropdown */
.dropdownContent {
  min-width: 220px; /* Largeur minimale du menu */
  background-color: white; /* Fond du menu */
  border-radius: 8px; /* Bordures arrondies pour le menu */
  padding: 10px 0; /* Espacement vertical à l'intérieur du menu */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Ombre portée pour le menu */
  animation: fadeIn 200ms ease-out; /* Animation d'apparition douce */
  font-family: "Montserrat", sans-serif; /* Police de caractère du menu */
  z-index: 1000; /* Assure que le dropdown passe au-dessus des autres éléments */
}

/* Styles pour les items du dropdown */
.dropdownItem {
  font-size: 16px; /* Taille de la police pour les items */
  color: #333; /* Couleur du texte des items */
  padding: 8px 20px; /* Espacement interne pour chaque item */
  display: block; /* Les items prennent toute la largeur disponible */
  transition: background-color 0.3s, color 0.3s; /* Transition pour hover */
  cursor: pointer; /* Indique que l'item est cliquable */
}

.dropdownItem:hover {
  background-color: #f5f5f5; /* Couleur de fond au survol de l'item */
}

/* Séparateur pour structurer visuellement les items du dropdown */
.separator {
  height: 1px; /* Hauteur du séparateur */
  background-color: #eee; /* Couleur du séparateur */
  margin: 5px 10px; /* Marges horizontales pour le séparateur */
}

/* Styles pour les liens dans les items du dropdown */
.profileLink,
.logoutLink {
  color: #333; /* Couleur des liens dans les items */
  text-decoration: none; /* Pas de soulignement pour les liens */
}

.profileLink:hover,
.logoutLink:hover {
  text-decoration: underline; /* Soulignement au survol pour indiquer l'interactivité */
}
.profileBlob {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Animation pour l'apparition du dropdown */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
